@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

* {
  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border-style: dashed;
    background-color: rgba(78, 67, 78, 0.4);
    border-color: transparent;
    border-width: 2px;
    background-clip: padding-box;

    &:hover {
      background: rgba(128, 108, 128, 0.7);
    }
  }
}
